 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Time and place</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" align="center">

                    <p>When: <br>February 2nd, Saturday. <br><br>Time: From 2pm to 5pm </p><br><br><br>

                    <p>Where: <br>Straßburger Straße 9<br> 10405 Prenzlauer Berg</p><br>
                </div>
            </div>
        </div>
    </section>
