
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Gift ideas</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
              <div >
                  <p>Tristan will be happy with any gift, but if you would like some tips, he likes books about Minecraft, Science and nature, Diary of a Wimpkid (from the 4th book). <br> Legos, board games. </p>
              </div>
            </div>
        </div>
    </section>
