
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Gift ideas</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row" align="center">
              <div >
                  <p>Tristan will be happy with any gift!<br><br> In case you would like some tips, he likes books about Minecraft, Science and nature. <br><br> He's currently reading Diary of a Wimpkid (the 3rd book). <br> Tristan also love Legos and board games :) </p>
              </div>
            </div>
        </div>
    </section>
